#dino.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}

#cactus {
  animation: block 1s linear infinite;
}

/* @keyframes block {
  0% {
    left: 580px;
  }
  100% {
    left: -5px;
  }
} */

@keyframes move {
  from {
    left: 580px;
  }
  to {
    left: -50px;
  }
}
